*{
    margin: 0%;
    padding: 0%;
}
header{
    display: flex;
    background-color: rgb(169, 32, 32);
    justify-content: space-between;
    padding: 0px 2%;
    text-align: center;
    margin-top: 2px;
    font-family: roboto;
    font-weight: 500;
    color: white;
}
header a{
    color: white;
    font-weight: 400;
    text-decoration: none;
}
h1{
    font-size: 32px;
}
#menu{
    display: flex;
}
#menu .click{
    position: relative;
    list-style-type: none;
    padding: 10px 20px;
    font-size: 20px;
    transition-duration: 0.3s;
}
.fa-chevron-down{
    margin: 0px 5px;
    font-size: 18px;
}
#menu .click:hover{
    background-color: black;
}
.content{
    display: none;
    text-align: left;
    list-style-type: none;
    color: black;
    position: absolute;
    top: 18px;
    right: -250px;
    width: 250px;
}
.content li{
    padding: 10px 5px;
    margin: 2px 0px;
    background-color: royalblue;
    transition-duration:0.3s ;
}
#drop{
    display: none;
    position: absolute;
    top: 43px;
    right: -28px;
    width: 160px;
    text-align: center;
}
#drop li{
    transition-duration: 0.3s;
}
.dropdown{
    padding: 9px 0px;
    background-color: rgb(169, 32, 32);
    margin: 1px 0px;
}
.dropdown i{
    font-size: 15px;
    padding: 0px 3px;
}
#dropdown1:hover #drop{
    display: block;
}
.dropdown:hover{
    background-color: black;
}
#type1:hover #page1{
    display: block;
}
#type2:hover #page2{
    display: block;
}
#type3:hover #page3{
    display: block;
}
#type4:hover #page4{
    display: block;
}
.content li:hover{
    background-color: black;
    width:240px ;
}