*{
    padding: 0%;
    margin: 0%;
}
header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(185, 19, 19);
    font-family: roboto;
    font-weight: 500;
    text-align: center;
    color: white;
    margin: 2px 0px;
}
header h1{
    font-size: 33px;
    padding: 10px 2%;
}
#drop{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    font-weight: 400;
    padding-right: 2%;
    position: relative;
}
#drop li{
    transition-duration: 0.2s;
    font-size: 19px;
    padding: 18px 20px;
}
#movies p i{
    padding:0px 3px;
    font-size: 16px;
}
#drop .click:hover{
    background-color: black;
    color: rgb(244, 244, 244);
}
#down{
    display: none;
}
#down li{
    list-style-type: none;
    margin: 3px auto;
    background-color: rgb(146, 34, 34);
}
.content ul{
    display: None;
    background-color: rgb(58, 99, 223);
    width:250px;
    height: 50px;
    text-align: left;
}
#drop li:hover #down{
    display: block;
    position: absolute;
    top: 56px;
    left: 90px;
}
#st:hover #john ul{
    display: block;
    position: absolute;
    top: 20px;
    left:208px;
}
#nd:hover #harry ul{
    display: block;
    position: absolute;
    top: 20px;
    left:208px;
}
#rd:hover #fast ul{
    display: block;
    position: absolute;
    top: 20px;
    left:208px;
}
#th:hover #golmaal ul{
    display: block;
    position: absolute;
    top: 20px;
    left:208px;
}